[submodule "plugin.video.videomediaset"]
	path = plugin.video.videomediaset
	url = https://github.com/typhoon51280/plugin.video.videomediaset
	branch = main
[submodule "script.module.phate89"]
	path = script.module.phate89
	url = https://github.com/typhoon51280/script.module.phate89
	branch = main
[submodule "repository.typhoon51280"]
	path = repository.typhoon51280
	url = https://github.com/typhoon51280/repository.typhoon51280
	branch = main
[submodule "plugin.video.mediasetinfinity"]
	path = plugin.video.mediasetinfinity
	url = https://github.com/typhoon51280/plugin.video.mediasetinfinity.git
	branch = main
